.first
    background: url(../../../img/back.png)
    background-size: cover
    background-position: center
    height: 620px
    display: flex
    justify-content: flex-end
    &-wrap
        display: flex
        justify-content: center
        flex-direction: column
        max-width: 600px
        margin-right: 100px
    &-header
        color: #FFF
        font-size: 80px
        font-weight: 400
        line-height: 105%
        margin: 0
    &-text
        color: #FFF
        font-size: 20px
        font-weight: 400
        margin-top: 45px
        line-height: 120%
        max-width: 455px
.about
    &-container
        margin-top: 150px
        display: flex
        justify-content: space-between
        &-left
            max-height: 407px
            display: flex
            justify-content: space-between
            flex-direction: column
            &-wrapper
                display: flex
                flex-direction: column
        &-right
            max-width: 730px
            &-wrapper
                display: flex
                justify-content: space-between
                color: #8F8F8F
                font-size: 16px
                font-weight: 400
                line-height: 130%
                margin-top: 40px
            &__text
                max-width: 47%
                p
                    margin-top: 0
                    margin-bottom: 10px        
    &-image
        &__first
            max-width: 397px
            max-height: 264px
        &__desc
            color: #8F8F8F
            font-size: 16px
            font-weight: 400
            margin-top: 20px
        &__second
            max-width: 730px
            max-height: 355px
            &-wrapper
                margin-top: 40px